                    <!-- {{ object.id }} narrator -->
                    <li class="isotope-item"><!-- slide item -->
                        <div class="item-box">
                            <figure>
                                <a class="item-hover" href="{{ object.links.html }}" data-plugin-options='{"type":"image"}'>
                                    <span class="overlay color2"></span>
                                    <span class="inner">
                                        <span class="block fa fa-user fsize30"></span>
                                        <span class="fsize12" style="line-height:1;">{{ object.display_name|safe }}</span><br />
                                    </span>
                                </a>
{% load thumbnail %}
{% thumbnail object.links.thumb "480x323" padding=True padding_color="#000000" as img %}
                                <!-- src: {{ object.links.thumb }} -->
                                <img src="{{ img.url }}" class="img-responsive" alt="{{ object.object.display_name|safe }}" />
{% endthumbnail %}
                            </figure>
                        </div>
                    </li>
