# dependencies used in all environments

# Non-Python dependencies
# sudo apt-get install python2.7, supervisor, imagemagick

                                   # LICENSE  Python3
django>=4.1.0,<4.2                 # MIT
django-bootstrap-pagination-forked # MIT      ???     TODO replace
django-cors-headers>=3.13.0,<3.14  # MIT      y
django-log-request-id              # BSD      y
djangorestframework>=3.13.0,<3.14  # BSD      y
django-robots>=5.0,<5.1            # BSD
drf-yasg>=1.21.0,<1.22             # BSD      y
GitPython>=3.1,<3.2                # BSD      y
gunicorn                           # MIT      y
redis                              # MIT      y
requests                           # Apache2  y
sorl-thumbnail>=12.8,<12.9         # BSD      y

git+https://github.com/denshoproject/densho-elastictools.git@v1.0.2

bpython
coverage
pytest
pytest-cov
pytest-django
pytest-testmon
pytest-xdist
