# dependencies used in all environments

# Debian package dependencies
# sudo apt-get install \
#     imagemagick            \
#     python3 bpython3       \
#     python3-git            \
#     python3-gunicorn       \
#     python3-redis          \
#     python3-requests       \
#     python3-sorl-thumbnail \
#     supervisor

                                   # LICENSE  Python3
django>=4.1.0,<4.2                 # MIT
django-bootstrap-pagination-forked # MIT      ???     TODO replace
django-cors-headers>=3.13.0,<3.14  # MIT      y
django-log-request-id              # BSD      y
djangorestframework>=3.13.0,<3.14  # BSD      y
django-robots>=5.0,<5.1            # BSD
drf-yasg>=1.21.0,<1.22             # BSD      y

git+https://github.com/denshoproject/densho-elastictools.git
