# dependencies used in development/testing

# sudo apt install           \
#     python3-coverage       \
#     python3-pytest         \
#     python3-pytest-cov     \
#     python3-pytest-django  \
#     python3-pytest-xdist

pytest-testmon
