{% extends "ui/repo/base.html" %}

{% block title %}{{ repo }}-{{ org }}{% endblock %}
{% block pagetitle %}organization: {{ repo }}-{{ org }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>{{ org }}</li>
{% endblock breadcrumbs %}

{% block content %}
<table>
{% for f in object.fields %}
  <tr>
    <th>{{ f.0 }}</th>
    <td>{{ f.1 }}</td>
  </tr>
{% endfor %}

<h3>collections</h3>
<p>
{% for collection in collections %}
<a href="{{ collection.url }}">{{ collection.id }} {% if collection.source.d.title %}&mdash;{% endif %} {{ collection.source.d.title }}</a><br/>
{% endfor %}
</p>
{% endblock content %}

{% block footer %}
ui/organizations/detail.html
{% endblock footer %}
