{% extends "ui/repo/base.html" %}

{% block title %}{{ repo }}-{{ org }}{% endblock %}
{% block pagetitle %}
<span class="label label-default">{{ repo }}-{{ org }}</span>
{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>{{ org }}</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="container-fluid">
  <div class="row">

<table>
{% for f in object.fields %}
  <tr>
    <th>{{ f.0 }}</th>
    <td>{{ f.1 }}</td>
  </tr>
{% endfor %}

<h3>collections</h3>
<ul>
{% for collection in collections %}
  <li>
    <a href="{{ collection.url }}">
    <span class="label label-default">{{ collection.id }}</span>
    {{ collection.source.d.title }}</a>
  </li>
{% endfor %}
</ul>

  </div><!-- .row -->
</div><!-- .container-fluid -->
{% endblock content %}

{% block footer %}
ui/organizations/detail.html
{% endblock footer %}
