{% extends BASE_TEMPLATE %}
{% load thumbnail ui_tags %}

{% block title %}Partners{% endblock %}
{% block pagetitle %}Pertners{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>Partners</li>{% endblock breadcrumbs %}

{% block content %}
<section class="container">
  <div class="row">
	<div class="col-sm-10 col-md-10">


<h2>{{ num_organizations }} Partner{{ num_organizations | pluralize }}</h2>
{% for organization,num_collections in organizations %}
{% if num_collections %}
<div class="organization media">
  <div class="media-left">
    <a href="{% url "ui-object-detail" organization.id %}">
      <img src="{{ organization.links.img }}"
           class="media-object" style="width:85px;"/>
    </a>
  </div>
  <div class="media-body">
    <h3 style="margin-top:0px; margin-bottom:0px;">
      <a href="{% url "ui-object-detail" organization.id %}">
        {{ organization.title }}
      </a>
      <small>({{ num_collections }} collection{{ num_collections | pluralize }})</small>
    </h3>
    <p>
      {{ organization.description }}
    </p>
  </div><!-- .media-left -->
</div><!-- .media .organization -->
{% endif %}
{% endfor %}{# organizations #}


	</div>
  </div><!-- .row -->
</section><!-- .container-fluid -->
{% endblock content %}

{% block pagecss %}
<style type="text/css">
h2 { margin-bottom:10px; }
h3 { margin-top:30px; margin-bottom:20px; }
ul#org-list { padding-left:0px; }
ul#org-list li { list-style-type:none; }
ul#org-list li img { margin-right:10px; }
</style>
{% endblock pagecss %}
