{% extends "ui/base.html" %}
{% load names_tags %}

{% block title %}{{ record }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{% url "names-index" %}">Names Registry</a></li>
<li>{{ record }}</li>
{% endblock breadcrumbs %}

{% block content %}
<section class="container">


  <div class="white-row">

<h2>{{ record.m_lastname }} {{ record.m_firstname }}</h2>

    <div class="row">
      <div class="col-md-9 col-md-offset-1">
        <table class="table">
          <tbody>

{% for field in record.details %}
<!-- {{ field.field }} -->
            <tr>
              <td>
<a href="#" data-container="body" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ field.description }}">
{% if field.label %}{{ field.label }}{% else %}{{ field.field }}{% endif %}
</a>
              </td>
              <td>
{{ field.value }}
              </td>
            </tr>
            <!-- <a href="{% url "names-search" %}?query=&{{ field.field }}={{ field.label }}">search</a> -->
{% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>

{% if record.other_datasets %}
<div id="other_datasets">
<h3>other_datasets</h3>
{% for r in record.other_datasets %}
{% record r %}<br/>
{% endfor %}
</div>
{% endif %}

{% if record.family_members %}
<div id="family">
<h3>Family ID {{ record.m_familyno }}</h3>
{% for r in record.family_members %}
{% record r %}<br/>
{% endfor %}
</div>
{% endif %}

</section><!-- .container -->
{% endblock content %}
