{% extends "ui/base.html" %}
{% load names_tags %}

{% block title %}Names Database{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>Names Database</li>
{% endblock breadcrumbs %}

{% block content %}
<section class="container">

<h2>Names Database</h2>

<table border="1" width="100%">
<form name="search" action="" method="get">
  <tr>
    <td width="40%" valign="top">

<strong>dataset</strong>
{{ form.m_dataset }}

<strong>camp</strong>
{{ form.m_camp }}

<strong>originalstate</strong>
{{ form.m_originalstate }}

<strong>gender</strong>
{{ form.m_gender }}

<strong>birthyear</strong>
{{ form.m_birthyear }}
      
    </td>
    <td valign="top">

{{ form.query }}
<input type="submit" value="submit" />

{% if body %}
<pre>{{ body }}</pre>
{% endif %}

<div id="records">
{% if records %}
<p>
{{ records|length }} records
</p>
{% for record in records %}
<p>
{% record record %}
</p>
{% endfor %}
{% else %}
<p>
No records (try searching for something)
</p>
{% endif %}{# records #}
</div><!-- #records -->

    </td>
  </tr>
</form>
</table>


</section><!-- .container -->
{% endblock content %}
