{% extends "ui/base.html" %}
{% load names_tags %}

{% block title %}Names Database{% endblock %}

{% block breadcrumbs %}{{ block.super }}
{% if paginator.object_list %}
<li><a href="{% url "names-index" %}">Names Database</a></li>
<li>Search</li>
{% else %}
<li>Names Database</li>
{% endif %}
{% endblock breadcrumbs %}

{% block content %}
<section class="container">

<h2>Names Database</h2>

<table border="1" width="100%">
<form name="search" action="" method="get">
  <tr>
    <td width="40%" valign="top">

<strong>dataset</strong>
{{ form.m_dataset }}

<strong>camp</strong>
{{ form.m_camp }}

<strong>originalstate</strong>
{{ form.m_originalstate }}

<strong>gender</strong>
{{ form.m_gender }}

<strong>birthyear</strong>
{{ form.m_birthyear }}
      
    </td>
    <td valign="top">

{{ form.query }}
<input type="submit" value="submit" />


{% if paginator.object_list %}
  <div>
    {{ paginator.count }} items<br/>
  </div>
{% endif %}

</div><!-- .querymeta -->

{% if paginator.object_list %}

{% if paginator.num_pages > 1 %}
{% names_paginate paginator %}
{% endif %}

<div id="records">
{% for record in paginator.object_list %}
{% record record %}
{% endfor %}
</div><!-- #records -->

{% endif %}


{% if body %}
<pre>{{ body }}</pre>
{% endif %}

    </td>
  </tr>
</form>
</table>


</section><!-- .container -->
{% endblock content %}
