{% extends "ui/entities/base.html" %}
{% load thumbnail ui_tags %}

{% block parent %}
<div id="parent">
<a href="{{ object.entity.absolute_url }}"><span class="label label-default">{{ object.entity.id }}</span></a>
<a href="{{ object.entity.absolute_url }}">{{ object.entity.title | safe }}</a>
</div>
{% endblock %}

{% block title %}
{{ object.id }} {% if object.label %}&mdash;{% endif %} {{ object.label | safe }}
{% endblock %}

{% block pagetitle %}
<span class="label label-default">{{ object.id }}</span>
{{ object.label | safe }}
{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>{{ role }}-{{ sha1 }}</li>
{% endblock breadcrumbs %}

{% block content %}
<section id="shop" class="container">

	<div class="row">

		<div class="col-sm-6 col-md-6">
		<h2>{{ object.title }}</h2>
                <h2>{{ object.entity.title }} {% if object.label %}({{ object.label }}){% endif %}</h2>
			 <a href="{{ object.access_url }}" class="lightbox img-thumbnail" data-plugin-options="{"type":"image"}">
			{% thumbnail object.access_url "480x480" as img %}
			<img src="{{ img.url }}" class="img-responsive"></a>
			{% endthumbnail %}
			{% if object.download_url %}
			<a href="{{ object.download_url }}" class="btn btn-default btn-xs"><i class="fa fa-download"></i> Download fullsize ({{ object.size|filesizeformat }})</a>
			{% endif %}
			<div class="divider"><!-- divider -->
				<i class="fa fa-chevron-down"></i>
			</div>	
		</div>


		<div class="col-sm-6 col-md-6">
			{% addthis %}
			{% cite object.cite_url %}
			<div class="desc productDescription">
	        <h3 class="page-header">PARENT OBJECT</h3>
	        <p><a href="{{ object.entity.cite_url }}">{{ object.entity.title }}</p>
            <h3 class="page-header">FILE ID</h3>
            <p>{{ object.id }}</p>
			<h3 class="page-header">RIGHTS</h3>
			<p>{{ object.fields|ddrvalue:"rights" }}</p>
			</div>

		</div>
	</div><!-- //row-->

</section><!-- .container-fluid -->
{% endblock content %}

{% block footer %}
{% if object.backend_url %}&bull; <a href="{{ object.backend_url }}">json</a>{% endif %}
{% endblock footer %}
