{% extends "ui/entities/base.html" %}
{% load thumbnail ui_tags %}

{% block parent %}
<div id="parent">
<a href="{{ object.entity.absolute_url }}"><span class="label label-default">{{ object.entity.id }}</span></a>
<a href="{{ object.entity.absolute_url }}">{{ object.entity.title | safe }}</a>
</div>
{% endblock %}

{% block title %}
{{ object.id }} {% if object.label %}&mdash;{% endif %} {{ object.label | safe }}
{% endblock %}

{% block pagetitle %}
<span class="label label-default">{{ object.id }}</span>
{{ object.label | safe }}
{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>{{ role }}-{{ sha1 }}</li>
{% endblock breadcrumbs %}

{% block content %}
<section id="shop" class="container">

	<div class="row">

		<div class="col-sm-6 col-md-6">
		<h2>{{ object.title }}</h2>
                <h2>{{ object.entity.title }} {% if object.label %}({{ object.label }}){% endif %}</h2>
{% thumbnail object.access_url_local "480x480" as img %}
          <a href="{{ object.access_url }}" class="lightbox img-thumbnail" data-plugin-options="{"type":"image"}">
            <img src="{{ img.url }}" class="img-responsive">
          </a><br />
{% endthumbnail %}
			{% if object.access_url %}
			<a href="{{ object.access_url }}" class="btn btn-default btn-xs"><i class="fa fa-download"></i> Download large size</a>
			{% endif %}
			{% if object.download_url %}
			<a href="{{ object.download_url }}" class="btn btn-default btn-xs"><i class="fa fa-download"></i> Download fullsize ({{ object.size|filesizeformat }})</a>
			{% endif %}
			<div class="divider"><!-- divider -->
				<i class="fa fa-chevron-down"></i>
			</div>
			{% rightspanel object.rights %}	
		</div>


		<div class="col-sm-6 col-md-6">
			{% addthis %}
			<div class="desc productDescription">
                      
                 <h3 class="page-header">PARTNER</h3>
                 <div class="media">
                   <div class="media-object">
                     <a class="pull-right" href="{{organization.url }}" target="_blank"><img src="{{ organization.logo_url }}" class="logo" width="50" /></a>
                   </div>
                   <div class="media-body">
                     <p>{{ organization.title }}<br /><span class="small"><a href="{{ organization.url }}" target="_blank"><i class="fa fa-external-link"></i> Visit partner</a></span></p>
                   </div>
                 </div>
	        <h3 class="page-header">PARENT OBJECT</h3>
	        <p><a href="{{ object.entity.absolute_url }}">{{ object.entity.title }} ({{ object.entity.id }})</a></p>
            <h3 class="page-header">FILE ID</h3>
            <p>{{ object.id }}</p>
            <h3 class="page-header">SIZE</h3>
            <p>{{ object.size|filesizeformat }}</p>
            <h3 class="page-header">TECHNICAL DETAILS</h3>
            <p>{{ object.tech_notes }}</p>
			<h3 class="page-header">RIGHTS</h3>
			<p>{{ object.fields|ddrvalue:"rights" }}</p>
			</div>

		</div>
	</div><!-- //row-->

</section><!-- .container -->
{% endblock content %}

{% block footer %}
{% if object.backend_url %}&bull; <a href="{{ object.backend_url }}">json</a>{% endif %}
{% endblock footer %}
