{% extends "ui/entities/base.html" %}
{% load thumbnail ui_tags %}

{% block parent %}
<div id="parent">
<a href="{{ parent.links.html }}"><span class="label label-default">{{ parent.id }}</span></a>
<a href="{{ parent.links.html }}">{{ parent.title|safe }}</a>
</div>
{% endblock %}

{% block title %}
{{ object.id }} {% if object.label %}&mdash;{% endif %} {{ object.label|safe }}
{% endblock %}

{% block pagetitle %}
<span class="label label-default">{{ object.id }}</span>
{{ object.label    |safe }}
{% endblock %}

{% block breadcrumbs %}{{ block.super }}
{% breadcrumbs object.identifier.breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
<section id="shop" class="container">

  <div class="row">

    <div class="col-sm-7 col-md-7">
      <h2>{{ parent.title|safe }} {% if object.label %}({{ object.label }}){% endif %}</h2>


      <!-- main display -------------------------------------------- -->

{% if object.external_urls %}

  {% for link in object.external_urls %}
    {% if "stream" in link.label %}
      <!-- Internet Archive player -->
      <iframe
         src="{{ link.url }}"
         width="450" height="400" frameborder="0"
         webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen
         ></iframe>
      <br/>
    {% endif %}
  {% endfor %}
  {% for link in object.external_urls %}
    {% if "download" in link.label %}
      <!-- download -->
      <a class="btn btn-default btn-xs" href="{{ link.url }}"><i class="fa fa-download"></i> {{ link.label }}</a><br/>
    {% endif %}
  {% endfor %}

{% else %}{# object.external_urls #}

    <!-- local static -->
{% if object.mimetype == "text/html" %}
    <i class="fa fa-file-text-o fsize60" style="font-size:100px !important; line-height:130px !important;"></i>
    <br />
{% else %}
  {% thumbnail object.links.thumb "480x480" as img %}
    <a href="{{ object.links.img }}" class="lightbox img-thumbnail" data-plugin-options="{"type":"image"}">
      <img src="{{ img.url }}" class="img-responsive">
    </a><br />
  {% endthumbnail %}
{% endif %}{# mimetype #}

  <!-- download/external links -->
  {% if object.links.img and not object.mimetype == "text/html" %}
    <a href="{{ object.links.img }}" class="btn btn-default btn-xs"><i class="fa fa-download"></i> Download large size</a>
  {% endif %}
  {% if object.links.download and not object.role == 'master' %}
    <a href="{{ object.links.download }}" class="btn btn-default btn-xs"><i class="fa fa-download"></i> Download fullsize ({{ object.size|filesizeformat }})</a>
  {% endif %}

{% endif %}{# object.external_urls #}

      {% rightspanel object.rights %}
    </div>

    <div class="col-sm-5 col-md-5">
        {% addthis %}
      <div class="desc productDescription">

        <h3 class="page-header">PARTNER</h3>
        {% include "ui/partnerlogolink.html" %}

	    <h3 class="page-header">PARENT OBJECT</h3>
	    <p>
          <a href="{{ parent.links.html }}">{{ parent.title|safe }} ({{ parent.id }})</a>
        </p>

        <h3 class="page-header">FILE ID</h3>
        <p>
          {{ object.id }}
        </p>

        <h3 class="page-header">SIZE</h3>
        <p>
          {{ object.size|filesizeformat }}
        </p>

        <h3 class="page-header">TECHNICAL DETAILS</h3>
        <p>
          {{ object.tech_notes|safe }}
        </p>

        <h3 class="page-header">RIGHTS</h3>
        <p>
          {% rightsbadge object.rights %}
        </p>
    </div>

    </div>
    </div><!-- //row-->

    <div class="row">
        <div class="col-sm-12 col-md-12 text-muted text-right">
            <small><a class="api" href="{{ api_url }}">API</a></small>
        </div>
    </div><!-- .row -->

</section><!-- .container -->
{% endblock content %}

{% block footer %}
{% if object.backend_url %}&bull; <a href="{{ object.backend_url }}">json</a>{% endif %}
{% endblock footer %}
