{% load thumbnail %}
<!-- {{ object.id }} -->
<div class="media {{ object.model }}">
{% if object.mimetype == "text/html" %}
  <div class="pull-left" style="width:120px; text-align:center;">
    <i class="fa fa-file-text-o fsize60" style="font-size:80px !important; line-height:80px !important;"></i>
  </div>
{% else %}
{% thumbnail object.links.thumb "110x110" padding=True padding_color="#cdcdcd" as img %}
  <!-- thumbnail: {{ object.links.thumb }} -->
  <a class="pull-left" href="{{ object.links.html }}">
    <img class="media-object" src="{{ img.url }}" class="img-responsive">
  </a>
{% endthumbnail %}
{% endif %}{# mimetype #}
  <div class="media-body">
    <b class="media-heading">
      <span class="badge badge-info">{{ object.role | capfirst }}</span>
      <a href="{{ object.links.html }}">{{ object.id }} - {{ object.title }}</a>
    </b>
    <div class="url">
      <a href="{{ object.links.html }}">{{ object.links.html }}</a>
    </div>
  </div><!-- .media-body -->
</div><!-- .media -->
