{% extends BASE_TEMPLATE %}
{% load thumbnail ui_tags %}

{% block parent %}
<!--
<div id="parent">
<a href="{{ object.parent.absolute_url }}"><span class="label label-default">{{ object.parent.id }}</span></a>
<a href="{{ object.parent.absolute_url }}">{{ object.parent.title | safe }}</a>
</div>
-->
{% endblock %}

{% block title %}
{{ object.id }} {% if object.title %}&mdash;{% endif %} {{ object.title | safe }}
{% endblock %}

{% block pagetitle %}
<span class="label label-default">{{ object.id }}</span>
{{ object.title | safe }}
{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{% url "ui-collections-list" %}">Collections</a></li>
<li>{{ object.id }}</li>
{% endblock breadcrumbs %}

{% block content %}
<section id="shop" class="container">

	<div class="row">

		<div class="col-sm-6 col-md-6">
		<h2>{{ object.title }}</h2>
{% if object.signature_url %}
  {% thumbnail object.signature_url_local "480x480" as img %}
          <a href="{{ object.signature_url }}" class="lightbox img-thumbnail" data-plugin-options="{"type":"image"}">
            <img src="{{ img.url }}" class="img-responsive">
          </a>
  {% endthumbnail %}
          <div class="divider"><!-- divider -->
            <i class="fa fa-chevron-down"></i>
          </div>
{% endif %}
		</div>


		<div class="col-sm-6 col-md-6">
			{% addthis %}
			<div class="desc productDescription">
                        <h3 class="page-header">PARTNER</h3>
                        <p>{{ organization.title }} <img src="{{ organization.logo_url }}" class="logo" width="50" /></p>
			<h3 class="page-header">COLLECTION ID</h3>
                        <p>{{ object.id }}
                        <h3 class="page-header">DESCRIPTION</h3>
			<p>{{ object.description }}</p>
			
				<!-- core meta -->
					<div class="row">
						<div class="col">

							<div class="col-md-5 col-sm-5">
								<h3 class="page-header">INCLUSIVE UNIT DATE</h3>
								<p>{{ object.unitdateinclusive }}</p>

							</div>
							
							<div class="col-md-7 col-sm-7">
								<h3 class="page-header">BULK UNIT DATE</h3>
								<p>{{ object.unitdatebulk }}</p>
							</div>


						</div>

					</div>
			<!-- /core meta -->		

			<h3 class="page-header">PHYSICAL DESCRIPTION</h3>
			<p>{{ object.extent }}</p>

                        <h3 class="page-header">CONTRIBUTOR</h3>
                        <p>{{ object.contributor }}</p>
			<h3 class="page-header">PREFERRED CITATION</h3>
			<p>{{ object.prefercite }}</p>
			<h3 class="page-header">RIGHTS</h3>
			<p>
			{{ object.fields|ddrvalue:"rights" }}
			</p>
			
			
			</div>
			<!-- collection.id -->
			<!-- collection.title -->
			<!-- collection.record_created -->
			<!-- collection.record_lastmod -->
			
			<!-- collection.unitdateinclusive -->
			<!-- collection.unitdatebulk -->
			
			<!-- collection.creators -->
			<!-- collection.extent -->
			<!-- collection.language -->
			<!-- collection.contributor -->
			<!-- collection.description -->
			
			<!-- collection.physloc -->
			<!-- collection.acqinfo -->
			<!-- collection.custodhist -->
			<!-- collection.accruals -->
			<!-- collection.processinfo -->
			
			<!-- collection.rights -->
			<!-- collection.accessrestrict -->
			<!-- collection.userrestrict -->
			<!-- collection.prefercite -->
			<!-- collection.bioghist -->
			<!-- collection.scopecontent -->
			<!-- collection.relatedmaterial -->
			<!-- collection.separatedmaterial -->
			
		</div>
	</div><!-- //row-->

	<div class="row">
		<div class="col-sm-12 col-md-12">
			<h3>{{ paginator.count }} Objects</h3>
			{% for entity in page.object_list %}
			{% entity entity %}
			{% endfor %}
			
            {% if paginator.count > 10 %}
			<br />
			<p>
			<a class="btn btn-primary btn-md" href="{% url "ui-collection-entities" repo org cid %}">See all objects  <i class="fa fa-arrow-circle-right"></i></a>
			</p>
            {% endif %}
		</div>
	</div><!-- .row -->
</section><!-- .container -->
{% endblock content %}

{% block footer %}
{% if object.backend_url %}&bull; <a href="{{ object.backend_url }}">json</a>{% endif %}
{% endblock footer %}
