{% extends "ui/base.html" %}
{% load thumbnail ui_tags %}

{% block parent %}
<!--
<div id="parent">
<a href="{{ object.parent.absolute_url }}"><span class="label label-default">{{ object.parent.id }}</span></a>
<a href="{{ object.parent.absolute_url }}">{{ object.parent.title | safe }}</a>
</div>
-->
{% endblock %}

{% block title %}
{{ object.id }} {% if object.title %}&mdash;{% endif %} {{ object.title | safe }}
{% endblock %}

{% block pagetitle %}
<span class="label label-default">{{ object.id }}</span>
{{ object.title | safe }}
{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{% url "ui-collections-list" %}">Collections</a></li>
<li>{{ object.id }}</li>
{% endblock breadcrumbs %}

{% block content %}
<section id="portfolio" class="container">

	<div class="row">

		<div class="col-sm-6 col-md-6">
	{% if object.signature_url %}
			 <a href="{{ object.signature_url }}" class="lightbox img-thumbnail" data-plugin-options="{"type":"image"}">
			{% thumbnail object.signature_url "480x480" as img %}
			<img src="{{ img.url }}" class="img-responsive"></a>
			{% endthumbnail %}
			<div class="divider"><!-- divider -->
				<i class="fa fa-chevron-down"></i>
			</div>
	{% endif %}				
		</div>


		<div class="col-sm-6 col-md-6">
			<dl class="dl-horizontal clearfix">		
			{% addthis %}
			{% cite object.cite_url %}

			{% for f in object.fields %}
			<!-- {{ f.0 }} -->
			<dt>{{ f.1 }}</dt>
			<dd>{{ f.2 }}</dd>
			{% endfor %}
			</dl>
		</div>
	</div><!-- //row-->

	<div class="row">
		<div class="col-sm-12 col-md-12">
			<h3>Objects</h3>
			{% for entity in object.entities %}
			{% entity entity %}
			{% endfor %}
			<p>
			<a href="{% url "ui-collection-entities" repo org cid %}">All objects</a>
			</p>
		</div>
	</div><!-- .row -->
</section><!-- .container-fluid -->
{% endblock content %}

{% block footer %}
{% if object.backend_url %}&bull; <a href="{{ object.backend_url }}">json</a>{% endif %}
{% endblock footer %}
