{% extends "ui/base.html" %}
{% load thumbnail ui_tags %}

{% block parent %}
<!--
<div id="parent">
<a href="{{ object.parent.absolute_url }}"><span class="label label-default">{{ object.parent.id }}</span></a>
<a href="{{ object.parent.absolute_url }}">{{ object.parent.title }}</a>
</div>
-->
{% endblock %}

{% block title %}
{{ object.id }} {% if object.title %}&mdash;{% endif %} {{ object.title }}
{% endblock %}

{% block pagetitle %}
<span class="label label-default">{{ object.id }}</span>
{{ object.title }}
{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{% url "ui-collections-list" %}">Collections</a></li>
<li>{{ object.id }}</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="container-fluid">
  <div class="row">

{% addthis %}
{% cite object.cite_url %}

{% if object.signature %}
<div id="signature">
  <a href="{{ object.signature.absolute_url }}" class="thumbnail">
{% thumbnail object.signature.access_url "200x200" as img %}
    <img src="{{ img.url }}" class="img-responsive">
{% endthumbnail %}
    {{ object.signature.label|truncatechars:32 }}
  </a>
</div>
{% endif %}

<dl class="dl-horizontal clearfix">
{% for f in object.fields %}
  <!-- {{ f.0 }} -->
  <dt>{{ f.1 }}</dt>
  <dd>{{ f.2 }}</dd>
{% endfor %}
</dl>

<h3>objects</h3>
<table>
{% for entity in object.entities %}
  <tr>
    <td>
{% thumbnail entity.signature.access_url "64x64" as img %}
      <a href="{{ entity.absolute_url }}" class="thumbnail">
      <img src="{{ img.url }}" class="img-responsive">
      </a>
{% endthumbnail %}
    </td>
    <td>
      <a href="{{ entity.absolute_url }}">
      <span class="label label-default">{{ entity.id }}</span>
      {{ entity.title }}
      </a>
    </td>
  </tr>
{% endfor %}
</table>
<p>
<a href="{% url "ui-collection-entities" repo org cid %}">All objects</a>
</p>

<h3>files</h3>
<p>
<a href="{% url "ui-collection-files" repo org cid %}">All files</a>
</p>

  </div><!-- .row -->
</div><!-- .container-fluid -->
{% endblock content %}

{% block footer %}
ui/collections/detail.html
{% if object.backend_url %}&bull; <a href="{{ object.backend_url }}">json</a>{% endif %}
{% endblock footer %}
