{% extends "ui/browse/base.html" %}

{% block title %}{{ facet.title }}{% endblock %}
{% block pagetitle %}{{ facet.title }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>{{ facet.title }}</li>
{% endblock breadcrumbs %}

{% block content %}
<section class="container">
  <div class="row">
	<div class="col-sm-10 col-md-10">

{% if facet.description %}
<p>
{{ facet.description }}
</p>
{% endif %}

<p>
    Learn more about the different types of detention facilities in the <a target="encyc" href="//encyclopedia.densho.org">Densho Encyclopedia <i class="fa fa-external-link"></i></a>
</p>

<div class="row">
  <div class="col-md-10 col-sm-10">
    <span class="fsize20">Concentration Camps</span><br />
    <p class="muted">
      Ten large self-contained communities constructed by the War Relocation Authority to incarcerate persons of Japanese ancestry.
    </p>
{% for term in terms %}
    {% if term.type == "Concentration Camp" %}
    <a href="{{ term.links.html }}">{{ term.title }}</a>
    {% if term.doc_count %}<span class="text-muted">({{ term.doc_count }})</span>{% endif %}<br />
    {% endif %}
{% endfor %}
    <br />
  </div>
</div>

<div class="row">
    <div class="col-sm-10 col-md-10">
    <span class="fsize20">Temporary Assembly Centers</span><br />
    <p class="muted">    
      Hastily-built temporary camps on the West Coast for holding people of Japanese ancestry before more permanent camps were erected.
    </p>
{% for term in terms %}
    {% if term.type == "Temporary Assembly Center" %}
    <a href="{{ term.links.html }}">{{ term.title }}</a>
    {% if term.doc_count %}<span class="text-muted">({{ term.doc_count }})</span>{% endif %}<br />
    {% endif %}
{% endfor %}
    <br />
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-md-10">
    <span class="fsize20">Immigration Detention Centers</span><br />
    <p class="muted">
      Temporary holding facilities for foreign nationals considered "enemy aliens."
    </p>
{% for term in terms %}
    {% if term.type == "Immigration Detention Center" %}
    <a href="{{ term.links.html }}">{{ term.title }}</a>
    {% if term.doc_count %}<span class="text-muted">({{ term.doc_count }})</span>{% endif %}<br />
    {% endif %}
{% endfor %}
    <br />
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-md-10">
    <span class="fsize20">Department of Justice Internment Camps</span><br />
    <p class="muted">    
      Facilities operated by the Department of Justice that interned foreign nationals considered "enemy aliens."
    </p>
{% for term in terms %}
    {% if term.type == "Department of Justice Internment Camp" %}
    <a href="{{ term.links.html }}">{{ term.title }}</a>
    {% if term.doc_count %}<span class="text-muted">({{ term.doc_count }})</span>{% endif %}<br />
    {% endif %}
{% endfor %}
    <br />
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-md-10">
    <span class="fsize20">U.S. Army Internment Camps</span><br />
    <p class="muted">
      U.S. Army sites in Hawaii, Alaska and the mainland that interned foreign nationals considered "enemy aliens."
    </p>
{% for term in terms %}
    {% if term.type == "U.S. Army Internment Camp" %}
    <a href="{{ term.links.html }}">{{ term.title }}</a>
    {% if term.doc_count %}<span class="text-muted">({{ term.doc_count }})</span>{% endif %}<br />
    {% endif %}
{% endfor %}
    <br />
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-md-10">
    <span class="fsize20">Citizen Isolation Centers</span><br />
    <p class="muted">  
      Detention centers that held U.S. citizens of Japanese ancestry who had been labeled as "troublemakers" by concentration camp administrators. 
    </p>
{% for term in terms %}
    {% if term.type == "Citizen Isolation Center" %}
    <a href="{{ term.links.html }}">{{ term.title }}</a>
    {% if term.doc_count %}<span class="text-muted">({{ term.doc_count }})</span>{% endif %}<br />
    {% endif %}
{% endfor %}
    <br />
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-md-10">
    <span class="fsize20">Additional Facilities</span><br />
    <p class="muted">
      Sites that served as emergency short-term housing to defuse tensions at the concentration camps.    
    </p>
{% for term in terms %}
    {% if term.type == "Additional Facility" %}
    <a href="{{ term.links.html }}">{{ term.title }}</a>
    {% if term.doc_count %}<span class="text-muted">({{ term.doc_count }})</span>{% endif %}<br />
    {% endif %}
{% endfor %}
    <br />
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-md-10">
    <span class="fsize20">U.S. Federal Prisons</span><br />
    <p class="muted">
      Prisons that held U.S. citizens of Japanese ancestry who resisted the military draft.     
    </p>
{% for term in terms %}
    {% if term.type == "U.S. Federal Prison" %}
    <a href="{{ term.links.html }}">{{ term.title }}</a>
    {% if term.doc_count %}<span class="text-muted">({{ term.doc_count }})</span>{% endif %}<br />
    {% endif %}
{% endfor %}
    <br />
    </div>
</div>


	</div>
  </div><!-- .row -->

  <div class="row">
    <div class="col-sm-12 col-md-12 text-muted text-right">
      <small><a class="api" href="{{ api_url }}">API</a></small>
    </div>
  </div><!-- .row -->

</section><!-- .container-fluid -->
{% endblock content %}

{% block pagecss %}
<style type="text/css">
.indent0 { padding-left:0px; }
.indent1 { padding-left:30px; }
.indent2 { padding-left:60px; }
.indent3 { padding-left:90px; }
.indent4 { padding-left:120px; }
.indent5 { padding-left:150px; }
</style>
{% endblock pagecss %}
