{% extends "ui/browse/base.html" %}

{% block title %}{{ facet }}{% endblock %}
{% block pagetitle %}{{ facet }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>{{ facet }}</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="container-fluid">
  <div class="row">

<ul class="list-unstyled">
{% for term in results.terms %}
  <li>
    <span class="badge">{{ term.count }}</span>
    <a href="{% url "ui-search-results" %}?query={{ facet }}:{{ term.term }}">{{ term.term }}</a>
  </li>
{% endfor %}
</ul>

  </div><!-- .row -->
</div><!-- .container-fluid -->
{% endblock content %}

{% block footer %}
ui/browse/facet.html
{% endblock footer %}
