{% extends "ui/browse/base.html" %}

{% block title %}{{ facet.title }}{% endblock %}
{% block pagetitle %}{{ facet.title }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>{{ facet.title }}</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="container-fluid">
  <div class="row">

<p>
{{ facet.description }}
</p>

<ul class="list-unstyled">
{% for term in facet.terms %}
  <li>
    <a href="{% url "ui-search-results" %}?query={{ facet.id }}:{{ term.id|urlencode }}">{{ term.title }}</a>
    {% if term.count %}<span class="badge">{{ term.count }}</span>{% endif %}
    {# if term.description %}&mdash; {{ term.description }}{% endif #}
  </li>
{% endfor %}
</ul>

  </div><!-- .row -->
</div><!-- .container-fluid -->
{% endblock content %}

{% block footer %}
ui/browse/facet.html
{% endblock footer %}
