{% extends "ui/browse/base.html" %}

{% block title %}{{ facet.title }}{% endblock %}
{% block pagetitle %}{{ facet.title }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>{{ facet.title }}</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="container-fluid">
  <div class="row">

<p>
{{ facet.description }}
</p>

<ul class="list-unstyled">
{% for term in facet_terms %}
  <li>
    <span class="badge">{% if term.count %}{{ term.count }}{% else %} &nbsp;&nbsp; {% endif %}</span>
    <a href="{{ term.url }}" class="label label-default">{{ term.title }}</a>
    {# if term.description %}&mdash; {{ term.description }}{% endif #}
  </li>
{% endfor %}
</ul>

  </div><!-- .row -->
</div><!-- .container-fluid -->
{% endblock content %}

