{% extends "ui/base.html" %}

{% block title %}Browse{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>Browse</li>
{% endblock breadcrumbs %}

{% block content %}
<section class="container">
  <div class="row">
	<div class="col-md-4">
		<div class="featured-box">
			<div class="box-content">
				<h4>Collections</h4>
				<p>Collections are groups of objects, arranged by donor or content.</p>
				<a href="{% url "ui-collections-list" %}" class="btn btn-primary">Go</a>

			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="featured-box">
			<div class="box-content">
				<h4>Topics</h4>
				<p>Organized thematic categories related to the incarceration experience and the Japanese American community.</p>
				<a href="{% url "ui-browse-facet" "topics" %}" class="btn btn-primary">Go</a>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="featured-box">
			<div class="box-content">
				<h4>Facilities</h4>
				<p>The incarceration camps and other sites where people were detained.</p>
				<a href="{% url "ui-browse-facet" "facility" %}" class="btn btn-primary">Go</a>

			</div>
		</div>
	</div>

  </div><!-- .row -->
</section><!-- .container-fluid -->
{% endblock content %}


