{% extends "ui/base.html" %}

{% block title %}browse{% endblock %}
{% block pagetitle %}browse{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>browse</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="container-fluid">
  <div class="row">

<ul>
  <li><a href="{% url "ui-browse-facet" "contributor" %}">contributor</a></li>
  <li><a href="{% url "ui-browse-facet" "digitize_organization" %}">digitize_organization</a></li>
  <li><a href="{% url "ui-browse-facet" "creators" %}">creators</a></li>
  <li><a href="{% url "ui-browse-facet" "facility" %}">facility</a></li>
  <li><a href="{% url "ui-browse-facet" "format" %}">format</a></li>
  <li><a href="{% url "ui-browse-facet" "genre" %}">genre</a></li>
  <li><a href="{% url "ui-browse-facet" "language" %}">language</a></li>
  <li><a href="{% url "ui-browse-facet" "location" %}">location</a></li>
  <li><a href="{% url "ui-browse-facet" "persons" %}">persons</a></li>
  <li><a href="{% url "ui-browse-facet" "public" %}">public</a></li>
  <li><a href="{% url "ui-browse-facet" "status" %}">status</a></li>
  <li><a href="{% url "ui-browse-facet" "topics" %}">topics</a></li>
</ul>

  </div><!-- .row -->
</div><!-- .container-fluid -->
{% endblock content %}

{% block footer %}
ui/browse/index.html
{% endblock footer %}
