{% extends "ui/base.html" %}

{% block title %}browse{% endblock %}
{% block pagetitle %}browse{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>browse</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="container-fluid">
  <div class="row">

<ul class="list-unstyled">
{% for facet in facets %}
  <li><a href="{{ facet.url }}">{{ facet.title }}</a></li>
{% endfor %}
</ul>

  </div><!-- .row -->
</div><!-- .container-fluid -->
{% endblock content %}

{% block footer %}
ui/browse/index.html
{% endblock footer %}
