{% extends "ui/browse/base.html" %}

{% block title %}{{ narrator.display_name }}{% endblock %}
{% block pagetitle %}{{ narrator.display_name }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>
  <a href="{% url "ui-browse-narrators" %}">Narrators</a>
</li>
<li>
  {{ narrator.display_name }}
</li>
{% endblock breadcrumbs %}

{% block content %}
<section class="container">
  <div class="row">
    <div class="col-sm-8 col-md-8">

<h1>
  {{ narrator.display_name }}
</h1>

{{ narrator.bio|linebreaks }}

<h4>Interviews</h4>

{% for object in interviews.objects %}
<div class="media ">
  <!-- {{ object.id }} -->
  <a class="pull-left" href="{{ object.links.html }}">
    <img class="media-object" src="{{ object.links.img }}" width="180" class="img-responsive">
  </a>
  <div class="media-body">
    <b class="media-heading">
      <a href="{{ object.links.html }}">{{ object.title }} &mdash; {{ object.id }}</a>
    </b>
    <div class="source muted">
      {% if object.creation %}{{ object.creation }}.{% endif %}
      {% if object.location %}{{ object.location }}.{% endif %}
      <br/>
      {% if object.extent %}{{ object.extent }}{% endif %}
      &mdash;
      {{ object.num_segments }} segments.
    </div>
    <div class="url">
      <a href="{{ object.links.html }}">{{ object.links.html }}</a>
    </div>
  </div><!-- .media-body -->
</div><!-- .media -->
{% endfor %}{# interview in interviews #}

    </div><!-- .column -->
    <div class="col-sm-4 col-md-4">
        <img src="{{ narrator.links.img }}" class="img-responsive" alt="{{ narrator.display_name }}">
    </div>
  </div><!-- .row detail content -->

</section><!-- .container-fluid -->
{% endblock content %}
