{% extends "ui/browse/base.html" %}

{% block title %}Narrators{% endblock %}
{% block pagetitle %}Narrators{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>
  <a href="{% url "ui-browse-narrators" %}">Narrators</a>
</li>
<li>
  {{ object.title }}
</li>
{% endblock breadcrumbs %}

{% block content %}
<section class="container">
  <div class="row">
	<div class="col-sm-10 col-md-10">

<h1>
  {{ object.title }}
</h1>
<table>
  {% for field,value in object.iteritems %}
  <tr>
    <th>{{ field }}</th>
    <td>{{ value }}</td>
  </tr>
{% endfor %}
</table>

	</div>
  </div><!-- .row -->
</section><!-- .container-fluid -->
{% endblock content %}
