{% extends "ui/browse/base.html" %}
{% load bootstrap_pagination ui_tags %}

{% block title %}{{ term.title }}{% endblock %}
{% block pagetitle %}{{ term.title }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{% url "ui-browse-facet" term.facet.id %}">{{ term.facet.title }}</a></li>
<li>{{ term.title }}</li>
{% endblock breadcrumbs %}

{% block content %}
<section class="container">
  <div class="row">
	<div class="col-sm-10 col-md-10">

<ol class="breadcrumb">
{% for t in term.path %}
  {% if t != term %}<li><a href="{{ t.url }}">{{ t.title }}</a></li>{% endif %}
{% endfor %}
</ol>

<h1>{{ term.title }}</h1>
{% if term.description %}
<p>
{{ term.description }}
</p>
{% endif %}




{% if term.children %}
<ul id="term-children" class="list-unstyled">
{% for t in term.children %}
<li><a href="{{ t.url }}">{{ t.title }}</a></li>
{% endfor %}
</ul>
{% endif %}


{% if term.encyc_articles %}
<!-- topic.encycarticles -->
<p>
Related articles from the
<a target="encyc" href="http://encyclopedia.densho.org/">Densho Encyclopedia</a>:
{% for article in term.encyc_articles %}
  <a target="encyc" href="{{ article.url }}">{{ article.title }}</a>{% if not forloop.last %},{% endif %}
{% endfor %}
</p>
{% endif %}


{% if page.object_list %}
  <div id="item-count">
    {{ paginator.count }} items<br/>
  </div>
{% endif %}

{% if page.object_list %}

{% if paginator.num_pages > 1 %}
{% bootstrap_paginate page range=10 show_first_last="true" %}
{% endif %}

{% for hit in page.object_list %}
{% document hit %}
{% endfor %}

{% if paginator.num_pages > 1 %}
{% bootstrap_paginate page range=10 show_first_last="true" %}
{% endif %}

{% endif %}

{% if page.object_list %}
<div class="row"> <!-- results content -->
    <div class="col-sm-12 col-md-12">
        <!--  view selection tabs -->
        <div class="tabs no-margin-top" style="margin:10px 0;">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#gallery_tab" data-toggle="tab">
                <i class="fa fa-th"></i> Gallery view
            </a>
        </li>
        <li>
            <a href="#list_tab" data-toggle="tab">
                <i class="fa fa-list"></i> List view
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="gallery_tab" class="tab-pane active">
            <div id="item-count">
                {{ paginator.count }} items<br/>
            </div>
{% if paginator.num_pages > 1 %}
{% bootstrap_paginate page range=10 show_first_last="true" %}
{% endif %}
            <div class="row">
                <ul class="sort-destination isotope fullwidth" data-sort-id="isotope-list">
{% for object in page.object_list %}
{% galleryitem object %}
{% endfor %}
                </ul>
            </div><!-- /.masonry-container -->

{% if paginator.num_pages > 1 %}
{% bootstrap_paginate page range=10 show_first_last="true" %}
{% endif %}

        </div> <!-- end gallery_tab -->
        <div id="list_tab" class="tab-pane">
              <div id="item-count">
                {{ paginator.count }} items<br/>
              </div>

{% if paginator.num_pages > 1 %}
{% bootstrap_paginate page range=10 show_first_last="true" %}
{% endif %}

{% for object in page.object_list %}
{% listitem object %}
            <!-- ddr-densho-271-4 -->
            <div class="media ">

              <a class="pull-left" href="/ddr/densho/271/4/">
                <img class="media-object" src="http://ddr.densho.org/media/cache/a6/da/a6daa78659735c01d8bfcf28cf448f5a.jpg" class="img-responsive">
              </a>

              <div class="media-body">
                <b class="media-heading">
                  <span class="badge badge-info">Object</span>
                  <a href="/ddr/densho/271/4/">Arm-Nav Troppers newsletter, Tokyo Bound (ddr-densho-271-4)</a>
                </b>
                <!-- entity.genre, entity.description  -->
                <div class="source muted">
                    Photograph. 
                </div>
                <div class="url">
                  <a href="/ddr/densho/271/4/">/ddr/densho/271/4/</a>
                </div>
              </div><!-- .media-body -->
            </div><!-- .media -->

{% endfor %}

{% if paginator.num_pages > 1 %}
{% bootstrap_paginate page range=10 show_first_last="true" %}
{% endif %}

        </div> <!-- end list_tab -->
    </div> <!-- end tabs content -->
</div> <!-- end tabs -->
    </div>
</div> <!-- .row results content -->
{% endif %}

{% endblock content %}
