{% extends "ui/browse/base.html" %}
{% load bootstrap_pagination ui_tags %}

{% block title %}{{ term.title }}{% endblock %}
{% block pagetitle %}{{ term.title }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{% url "ui-browse-facet" term.facet.id %}">{{ term.facet.title }}</a></li>
<li>{{ term.title }}</li>
{% endblock breadcrumbs %}

{% block content %}
<section class="container">
  <div class="row">
	<div class="col-sm-10 col-md-10">

<ol class="breadcrumb">
{% for t in term.path %}
  {% if t != term %}<li><a href="{{ t.url }}">{{ t.title }}</a></li>{% endif %}
{% endfor %}
</ol>

<h1>{{ term.title }}</h1>
{% if term.description %}
<p>
{{ term.description }}
</p>
{% endif %}

{% if term.children %}
<ul id="term-children" class="list-unstyled">
{% for t in term.children %}
<li><a href="{{ t.url }}">{{ t.title }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if page.object_list %}
  <div>
    {{ paginator.count }} items<br/>
  </div>
{% endif %}

{% if page.object_list %}

{% if paginator.num_pages > 1 %}
{% bootstrap_paginate page range=10 show_first_last="true" %}
{% endif %}

{% for hit in page.object_list %}
  {% if hit.model == "collection" %}{% collection hit %}{% endif %}
  {% if hit.model == "entity" %}{% entity hit %}{% endif %}
  {% if hit.model == "file" %}{% file hit %}{% endif %}
{% endfor %}

{% if paginator.num_pages > 1 %}
{% bootstrap_paginate page range=10 show_first_last="true" %}
{% endif %}

{% endif %}

	</div>
  </div><!-- .row -->
</section><!-- .container-fluid -->
{% endblock content %}
