{% extends "ui/collections/base.html" %}
{% load thumbnail ui_tags %}

{% block parent %}
<div id="parent">
<a href="{{ parent.links.html }}"><span class="label label-default">{{ parent.id }}</span></a>
<a href="{{ parent.links.html }}">{{ parent.title|safe }}</a>
</div>
{% endblock %}

{% block title %}
{{ object.id }} {% if object.title %}&mdash;{% endif %} {{ object.title|safe }}
{% endblock %}

{% block pagetitle %}
<span class="label label-default">{{ object.id }}</span>
{{ object.title|safe }}
{% endblock %}

{% block breadcrumbs %}{{ block.super }}
{% breadcrumbs object.breadcrumbs %}
{% endblock breadcrumbs %}

{% block pagecss %}
{% endblock %}

{% block javascript %}
<!-- wavesufer.js player,timeline -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/wavesurfer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.timeline.min.js"></script>
<script>
  var ctx = document.createElement('canvas').getContext('2d');
  var linGrad = ctx.createLinearGradient(0, 64, 0, 200);
  linGrad.addColorStop(0.5, 'rgba(255, 255, 255, 1.000)');
  linGrad.addColorStop(0.5, 'rgba(183, 183, 183, 1.000)');
  
  var wavesurfer = WaveSurfer.create({
    container: '#waveform',
    // The color can be either a simple CSS color or a Canvas gradient
    //waveColor: linGrad,
    waveColor: '#F07057',
    //progressColor: 'hsla(200, 100%, 30%, 0.5)',
    progressColor: '#F07057',
    //cursorColor: '#fff',
    cursorColor: '#F07057',
    scrollParent: 'true',
    normalize: 'true',
    backend: 'MediaElement',
    barHeight: 100,
    barWidth: 1
  });
  wavesurfer.on('loading', function (percents) {
    document.getElementById('progress').value = percents;
  });
  wavesurfer.on('ready', function (percents) {
    document.getElementById('progress').style.display = 'none';
    var timeline = Object.create(WaveSurfer.Timeline);
    timeline.init({
      wavesurfer: wavesurfer,
      container: '#waveform-timeline'
    })
  });
  wavesurfer.load('{{ object.ia_meta.files.mp3.url }}');
</script>
{% endblock javascript %}


{% block content %}

<section id="shop" class="container">

        <!-- left content -->
        <div id="left-col" class="col-sm-7 col-md-7">

            <h2>{{ object.title|safe }}</h2>

            <div id="object-display">
<!--
templatekey: {{ templatekey }}
template:    {{ template }}
IA metadata: {{ object.ia_meta|safe }}
-->
<!-- begin audioplayer -->
<div id="aplayer-container" style="margin-bottom:15px;">
  <div id="waveform" style="background-color: #eee;">
    <progress id="progress" class="progress progress-striped" value="0" max="100"></progress>
  </div>
  <div id="waveform-timeline"></div>
  <div class="controls">
    <button class="btn btn-primary btn-xs" onclick="wavesurfer.skipBackward()">
      <i class="fa fa-step-backward"></i> Backward
    </button>
    <button class="btn btn-primary btn-xs" onclick="wavesurfer.playPause()">
      <i class="fa fa-play"></i> Play
      /
      <i class="fa fa-pause"></i> Pause
    </button>
    <button class="btn btn-primary btn-xs" onclick="wavesurfer.skipForward()">
      <i class="fa fa-step-forward"></i> Forward
    </button>
    <button class="btn btn-primary btn-xs" onclick="wavesurfer.toggleMute()">
      <i class="fa fa-volume-off"></i> Toggle Mute
    </button>
  </div>
</div>
<!-- end audioplayer -->
            </div><!-- #object-display -->

            <div id="object-download">
              <a href="{{ object.ia_meta.files.mp3.url }}" class="btn btn-default btn-xs">
                <i class="fa fa-download"></i>
                Download fullsize
                ({{ object.ia_meta.files.mp3.size|filesizeformat }})
              </a>
            </div><!-- #object-download -->

            <div id="object-rights">
{% rightspanel object.rights %}
            </div><!-- #object-rights -->

        </div><!-- #left-col .col-sm-7 .col-md-7 -->
    
        <!-- right meta -->
        <div id="right-col" class="col-sm-5 col-md-5">

            {% addthis %}

            <div class="desc productDescription">
                <!-- entity.partner -->
                <h3 class="page-header">PARTNER</h3>
                    {% include "ui/partnerlogolink.html" %}
                    <!-- entity.entity_id -->
                    <h3 class="page-header">OBJECT ID</h3>
                    <p>
                    {{ object.id }}
                    {% if object.alternate_id != None %}
                      {% if "denshouid" in object.alternate_id %}
                      <span class="small">(Legacy UID: {{ object.alternate_id|legacydenshouid }})</span>
                      {% else %}
                      <span class="small">({{ object.alternate_id }})</span>
                      {% endif %}
                    {% endif %}
                    
                    </p>
                    <!-- entity.collection -->
                    <h3 class="page-header">PARENT COLLECTION</h3>
                    <p>
                    <a href="{{ parent.links.html }}">{{ parent.title }}</a>
                    </p>
                    <!-- entity.description -->
                    <h3 class="page-header">DESCRIPTION</h3>
                    {{ object.description|safe|linebreaks }}

                    <!-- core meta -->
                    <div class="row">
                        <div class="col-md-5 col-sm-5">
                            <!-- entity.creation -->
                            <h3 class="page-header">DATE</h3>
                            <p>
                                {{ object.creation }}
                            </p>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <!-- entity.location -->
                            <h3 class="page-header">LOCATION</h3>
                            <p>
                              <a href="{% url "ui-search-results" %}?fulltext=location:{{ object.location }}">
                                {{ object.location }}
                              </a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-sm-5">
                            <!-- entity.genre -->
                            <h3 class="page-header">OBJECT GENRE</h3>
                            <p>
                              <a href="{% url "ui-search-results" %}{{ object.genre.query }}">
                                {{ object.genre.label }}
                              </a>
                            </p>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <!-- entity.format -->
                            <h3 class="page-header">OBJECT FORMAT</h3>
                            <p>
                              <a href="{% url "ui-search-results" %}{{ object.format.query }}">
                                {{ object.format.label }}
                              </a>
                            </p>
                        </div>
                    </div>
                    <div class="row">    
                        <div class="col-md-5 col-sm-5">
                            <!-- entity.topic_terms -->
                            <h3 class="page-header">TOPICS</h3>
                            <ul class="list-unstyled">
                              {% for item in object.topics %}
                              <li>
                                <a href="{% url "ui-browse-term" "topics" item.id %}">
                                  {{ item.term_node }}</a>
                              </li>
                              {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <!-- entity.facility -->
                            <h3 class="page-header">FACILITY</h3>
                            <ul class="list-unstyled">
                              {% for item in object.facility %}
                              <li>
                                <a href="{% url "ui-browse-term" "facility" item.id %}">{{ item.term }}</a>
                              </li>
                              {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-sm-5">
                            <!-- entity.creators -->
                            <h3 class="page-header">CREATORS</h3>
                            <ul class="list-unstyled">
                              {% for item in object.creators %}
                              <li>
                                <a href="{% url "ui-search-results" %}?fulltext=creators:{{ item.namepart }}">
                                  {{ item.namepart }} ({{ item.role }})
                                </a>
                              </li>
                              {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <!-- entity.persons -->
                            <h3 class="page-header">PERSONS/ORGANIZATIONS</h3>
                            <ul class="list-unstyled">
                              {% for item in object.persons %}
                              <li>{{ item }}</li>
                              {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /core meta -->	
                    <h3 class="page-header">CONTRIBUTOR</h3>
                    <p>
                        {{ object.contributor }}
                    </p>
                    <!-- entity.credit -->
                    <h3 class="page-header">PREFERRED CITATION</h3>
                    <p>
                        {{ object.credit }}
                    </p>
                    <!-- entity.rights -->
                    <h3 class="page-header">RIGHTS</h3>
                    <p>
                      {% rightsbadge object.rights %}
                    </p>

                </div>	
            </div>
    </div>

{% if children_page.object_list %}
    <div class="row">
        <div class="col-sm-12 col-md-12">
          <h3>
            <a href="{% url "ui-object-children" object.id %}">
              {{ children_paginator.count }} Objects
            </a>
          </h3>

          {% for file in children_page.object_list %}
          {% document file %}
          {% endfor %}

          {% if children_paginator.count > 10 %}
          <br />
          <p>
            <a class="btn btn-primary btn-md" href="{% url "ui-object-children" object.id %}">See all objects <i class="fa fa-arrow-circle-right"></i></a>
          </p>
          {% endif %}
        </div><!-- end list col -->
    </div><!-- .row -->
{% endif %}{# children_page.object_list #}

{% if nodes_page.object_list %}
    <div class="row">
        <div class="col-sm-12 col-md-12">
          <h3>
            <a href="{% url "ui-object-nodes" object.id %}">
              {{ nodes_paginator.count }} File{{ nodes_paginator.count|pluralize }}
            </a>
          </h3>

          {% for file in nodes_page.object_list %}
          {% listitem file %}
          {% endfor %}

          {% if nodes_paginator.count > 10 %}
          <br />
          <p>
            <a class="btn btn-primary btn-md" href="{% url "ui-object-nodes" object.id %}">See all files <i class="fa fa-arrow-circle-right"></i></a>
          </p>
          {% endif %}
        </div><!-- end list col -->
    </div><!-- .row -->
{% endif %}{# nodes_page.object_list #}

    <div class="row">
        <div class="col-sm-12 col-md-12 text-muted text-right">
            <small><a class="api" href="{{ api_url }}">API</a></small>
        </div>
    </div><!-- .row -->
  
</section>
{% endblock content %}

{% block footer %}
{% if object.backend_url %}&bull; <a href="{{ object.backend_url }}">json</a>{% endif %}
{% endblock footer %}
