{% extends "ui/collections/base.html" %}

{% block title %}{{ repo }}-{{ org }}-{{ cid }}-{{ eid }}{% endblock %}
{% block pagetitle %}object: {{ repo }}-{{ org }}-{{ cid }}-{{ eid }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>{{ eid }}</li>
{% endblock breadcrumbs %}

{% block content %}
<table>
{% for field in entity %}
  <tr>
    <th>{{ field.0 }}</th>
    <td>{{ field.1 }}</td>
  </tr>
{% endfor %}
</table>

<h3>files</h3>
<p>
{% for f in files %}
<a href="{{ f.url }}">{{ f.id }}</a><br/>
{% endfor %}
</p>
{% endblock content %}

{% block footer %}
ui/entities/detail.html
{% endblock footer %}
