{% extends "ui/entities/base.html" %}
{% load thumbnail %}

{% block parent %}
<!--
<div id="parent">
<a href="{{ object.parent.absolute_url }}"><span class="label label-default">{{ object.parent.id }}</span></a>
<a href="{{ object.parent.absolute_url }}">{{ object.parent.title }}</a>
</div>
-->
{% endblock %}

{% block title %}
{{ object.id }} {% if object.title %}&mdash;{% endif %} {{ object.title }} &mdash; Files
{% endblock %}

{% block pagetitle %}
<span class="label label-default">{{ object.id }}</span>
{{ object.title }} &mdash; Files
{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>Files</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="container-fluid">
  <div class="row">

<table>
{% for file in object.files %}
  <tr>
    <td>
{% thumbnail file.access_url "64x64" as img %}
      <a href="{{ file.absolute_url }}" class="thumbnail">
      <img src="{{ img.url }}" class="img-responsive">
      </a>
{% endthumbnail %}
    </td>
    <td>
      <a href="{{ file.absolute_url }}">
      <span class="label label-default">{{ file.id }}</span>
      {{ file.title }}
      </a>
    </td>
  </tr>
{% endfor %}
</table>

  </div><!-- .row -->
</div><!-- .container-fluid -->
{% endblock content %}

{% block footer %}
ui/entities/files.html
{% endblock footer %}
