{% extends "ui/entities/base.html" %}
{% load bootstrap_pagination thumbnail ui_tags %}

{% block parent %}
<!--
<div id="parent">
<a href="{{ object.parent.absolute_url }}"><span class="label label-default">{{ object.parent.id }}</span></a>
<a href="{{ object.parent.absolute_url }}">{{ object.parent.title }}</a>
</div>
-->
{% endblock %}

{% block title %}
{{ object.id }} {% if object.title %}&mdash;{% endif %} {{ object.title }} &mdash; Files
{% endblock %}

{% block pagetitle %}
<span class="label label-default">{{ object.id }}</span>
{{ object.title }} &mdash; Files
{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>Files</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="container-fluid">
  <div class="row">

    <div>
      {{ paginator.count }} results<br/>
    </div>

{% if page.object_list %}

{% if paginator.num_pages > 1 %}
{% bootstrap_paginate page range=10 show_first_last="true" %}
{% endif %}

{% for file in page.object_list %}
{% file file %}
{% endfor %}

{% if paginator.num_pages > 1 %}
{% bootstrap_paginate page range=10 show_first_last="true" %}
{% endif %}

{% endif %}

  </div><!-- .row -->
</div><!-- .container-fluid -->
{% endblock content %}

{% block footer %}
ui/entities/files.html
{% endblock footer %}
