{% extends "ui/base.html" %}

{% block title %}Search{% endblock %}

{% block pageheader %}{% endblock %}


{% block content %}

		<!-- PAGE TITLE -->
		<header id="page-title">
			<div class="container">
			<div class="row">

				<div class="col-sm-9 col-md-9">
						<ul class="breadcrumb">
							<li><a href="{% url "ui-index" %}">Home</a></li>
							<li>Search</li>
						</ul>				
				</div>
			</div>
			</div>	
		</header>

<section class="container">

<p></p>
					<form action="{% url "ui-search-results" %}" method="get" class="input-group nomargin-bottom">
						<input type="text" class="form-control" name="query" id="query" value="{{ query }}" placeholder="Search..." />
						<span class="input-group-btn">
							<button class="btn btn-primary"><i class="fa fa-search"></i></button>
						</span>
					</form>

</div><!-- .container-fluid -->
{% endblock content %}
