{% extends "ui/base.html" %}

{% block title %}search{% endblock %}
{% block pagetitle %}search{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>search</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="container-fluid">
  <div class="row">

<form name="search" class="form-inline" role="form" action="{% url "ui-search-results" %}" method="get">
  <div class="form-group">
    <input id="query" name="query" type="text" class="form-control" placeholder="Your search here"  value="{{ query }}" />
    <button type="submit" class="btn btn-default">Search</button>
  </div><!-- .form-group -->
</form>

  </div><!-- .row -->
</div><!-- .container-fluid -->
{% endblock content %}

{% block footer %}
ui/search/index.html
{% endblock footer %}
