{% extends "ui/base.html" %}

{% block title %}404{% endblock %}
{% block pagetitle %}{% endblock %}
{% block pageheader %}{% endblock %}

{% block content %}
			<section class="container">

				<div class="row">

					<div class="col-md-9">
						<h2>
							<strong>Oops</strong>, This Page Could Not Be Found!
							
						</h2>
						
						<div class="e404">404</div>
					</div>

					<aside class="col-md-3">
<div>404 - Not Found</div>
					<p><i>
You step in the stream<br/>
But the water has moved on<br/>
That page is not here<br/>
</i></p>

						<div>
							Questions? Please contact <a href="mailto:info@densho.org?subject='DDR Error 404'">info@densho.org</a>
						</div>

					</aside>

				</div>


			</section>



{% endblock content %}
