{% extends BASE_TEMPLATE %}

{% block title %}About{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>About</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="blog">

	<section id="overview" class="container">

        <div class="row">
           <div class="col-md-9">
		<h2>Overview</h2>

		<p>The forced removal and detention of more than 120,000 Americans of Japanese ethnicity during WWII still represents one of the starkest examples of how our civil liberties in the United States can come under attack in times of war or distress. 
		As the memories of those who lived it fade, the story is in danger of becoming distant, remote and, ultimately forgotten. Densho was founded to preserve those memories, primarily through the use of videotaped oral history testimonies from Japanese Americans.</p>
		
		<p>In the course of that work, we began to collect photographs, documents and other primary source materials that provided context to the oral histories and enhanced our curriculum materials. As this body of digital objects grew larger and larger, it became clear that we needed a more comprehensive strategy for its preservation and stewardship. We also encountered other institutions doing work in Japanese American history who were facing similar problems both managing and providing access to these kinds of materials.</p>

		<p>Simultaneously, we have experienced an increasing interest from our users for access to digitized content. Students and educators are looking for high-quality photos to use in projects and presentations. Researchers and historians want direct, convenient access to digitized documents and papers. Much of the content our users need is not readily available elsewhere or is subject to complicated and often expensive licensing requirements.</p> 
		
		<p>The Densho Digital Repository was developed in response to these challenges. Drawing on current standards and practices in the archival community, along with robust open-source technologies, we have built a platform and management processes that can provide for both long-term preservation and user-friendly access to the digital archives. Wherever possible, we have licensed or secured license from third-parties for the majority of materials in the repository to be offered under Creative Commons.</p>
		
		<p>During this first phase, we have partnered with four other institutions: <a href="http://www.heartmountain.org" target="_blank">Heart Mountain Wyoming Foundation</a>, <a href="http://www.jamsj.org/" target="_blank">the Japanese American Museum of San Jose</a>, <a href="http://www.jcch.com/" target="_blank">the Japanese Cultural Center of Hawaii</a> and <a href="http://www.oregonnikkei.org/" target="_blank">Oregon Nikkei Endowment</a>. The partner organizations have been provided with training and equipment, and will be adding their digital collections to the repository. In the next phase of the DDR, these initial partners are being joined by two others, the <a href="http://www.janm.org/" target="_blank">Japanese American National Museum</a> and the Nippu Jiji Photographic Archive. Our hope is that the Digital Repository will become a shared platform for even more organizations in our community.</p>

		<p>Densho is a 501(c)(3) non-profit organization based in Seattle, Washington. For more information, <a href="http://www.densho.org/about" target="_blank">visit Densho.org <i class="fa fa-arrow-right"></i></a></p>
		<div class="toTop"><a href="#top">Back to Top <i class="fa fa-arrow-circle-up"></i></a></div>
           </div> <!-- .col-md-9 -->
           <div class="col-md-3">
                <div class="widget">
                   <h3>PARTNERS</h3>
                   <p>
  		   <a href="http://www.heartmountain.org" target="_blank"><img src="/media/ddr-hmwf/logo.png" height="150" alt="Heart Mountain Wyoming Foundation" border="0" /></a>
                   </p>
                   <p>		   
<a href="http://www.janm.org/" target="_blank"><img src="/media/ddr-janm/logo.png" width="120" alt="The Japanese American National Museum" border="0" /></a>
</p>
<p>                   
<a href="http://www.jamsj.org/" target="_blank"><img src="/assets/images/logo-jamsj.png" width="120" alt="Japanese American Museum of San Jose" border="0" /></a>
</p>
<p>
		   <a href="http://www.jcch.com/" target="_blank"><img src="/assets/images/logo-jcch.png" width="120" alt="Japanese Cultural Center of Hawaii" border="0" /></a>
</p>
<p>
		   <a href="http://www.oregonnikkei.org/" target="_blank"><img src="/media/ddr-one/logo.png" width="120" alt="Oregon Nikkei Endowment" border="0" /></a> 
</p>
                </div>
           </div> <!-- .col-md-3 -->
        </div> <!-- .row -->

	</section>	

	<hr class="half-margin" />
	
	<section id="support" class="container">
			<h2>Support and funding</h2>

	<p>Major funding for the Densho Digital Repository is being provided by grants from the <a href="http://www.nps.gov/history/hps/hpg/JACS/index.html" target="_blank">Japanese American Confinement Sites Grant Program</a>, administered by the National Park Service.</p>

	<a href="http://www.nps.gov/history/hps/hpg/JACS/index.html" target="_blank"><img src="/assets/images/logo-nps.gif" alt="icon-NPSLogo"  width="110" height="137" style="margin:15px; float:right;" border="0" /></a>

	<p>This material is based upon work assisted by a grant from the U.S. Department of the Interior, National Park Service. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the U.S. Department of the Interior.</p>

	<p>This material received Federal financial assistance for the preservation and interpretation of U.S. confinement sites where Japanese Americans were detained during World War II. Under Title VI of the Civil Rights Act of 1964, Section 504 of the Rehabilitation Act of 1973, and the Age Discrimination Act of 1975, as amended, the U.S. Department of the Interior prohibits discrimination on the basis of race, color, national origin, disability or age in its federally funded assisted projects. If you believe you have been discriminated against in any program, activity, or facility as described above, or if you desire further information, please write to:</p>

	<p>Office of Equal Opportunity<br />
	National Park Service<br />
	1849 C Street, NW<br />
	Washington, DC 20240
	</p>

		<div class="toTop"><a href="#top">Back to Top <i class="fa fa-arrow-circle-up"></i></a></div>
	</section>	

<div class="divider"></div>
	
	<section id="contact" class="container">
		<h2>Contact us</h2>
		<p>The Digital Repository is a new project so we are especially interested in hearing your comments, suggestions and questions. You may contact us at: </p>

				<section id="contact" class="container">
				<span class="block">
				<p>
				<strong><i class="fa fa-map-marker"></i> Address:</strong> Densho, 1416 South Jackson St., Seattle, WA 98144, US<br />
				<strong><i class="fa fa-phone"></i> Phone:</strong> 206-320-0095<br />
				<strong><i class="fa fa-envelope"></i> Email:</strong> info@densho.org<br />
				</p>
				</span>
				</section>

		<p><a href="http:/www.densho.org/about/default.asp?path=enews.asp" target="_blank">Sign up</a> to receive the Densho eNews, a monthly electronic newsletter highlighting our digital archive of life stories and documents, organizational news, and community items of interest. <a href="http:/www.densho.org/about/default.asp?path=enews.asp" target="_blank">Learn more <i class="fa fa-arrow-right"></i></a></p>

		<div class="toTop"><a href="#top">Back to Top <i class="fa fa-arrow-circle-up"></i></a></div>
	</section>	

</div> 
{% endblock content %}
