{% extends "ui/base.html" %}
{% load thumbnail ui_tags %}

{% block title %}Collections{% endblock %}
{% block pagetitle %}Collections{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>Collections</li>{% endblock breadcrumbs %}

{% block content %}
<section class="container">
  <div class="row">
	<div class="col-sm-10 col-md-10">
{% for organization,collections in organizations %}
  {% if collections %}
<h2>{{ organization.title }}</h2>
    {% for collection in collections %}
{% collection collection %}
    {% endfor %}
  {% endif %}
{% endfor %}{# organizations #}
	</div>
  </div><!-- .row -->
</section><!-- .container-fluid -->
{% endblock content %}
