{% extends BASE_TEMPLATE %}
{% load thumbnail ui_tags %}

{% block title %}Collections{% endblock %}
{% block pagetitle %}Collections{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>Collections</li>{% endblock breadcrumbs %}

{% block content %}
<section class="container">
  <div class="row">
	<div class="col-sm-10 col-md-10">

<h2>Organizations</h2>
<ul id="org-list">
{% for organization,collections in organizations %}
{% if collections %}
  <li>
    <a href="#{{ organization.id }}">
    <img class="logo" src="{{ organization.logo_url }}" width="20" />
    {{ organization.title }}
    </a>
  </li>
{% endif %}
{% endfor %}{# organizations #}
</ul>

{% for organization,collections in organizations %}
{% if collections %}
      <a name="{{ organization.title }}"></a>
      <div id="{{ organization.id }}">

<h3>
<img class="logo" src="{{ organization.logo_url }}" width="20" />
{{ organization.title }}
</h3>
{% for collection in collections %}
{% collection collection %}
{% endfor %}

      </div><!-- .{{ organization.id }} -->
{% endif %}
{% endfor %}{# organizations #}

	</div>
  </div><!-- .row -->
</section><!-- .container-fluid -->
{% endblock content %}

{% block pagecss %}
<style type="text/css">
h2 { margin-bottom:10px; }
h3 { margin-top:30px; margin-bottom:20px; }
ul#org-list { padding-left:0px; }
ul#org-list li { list-style-type:none; }
ul#org-list li img { margin-right:10px; }
</style>
{% endblock pagecss %}
