{% extends "ui/base.html" %}

{% block title %}Densho Digital Repository{% endblock %}
{% block pagetitle %}Densho Digital Repository{% endblock %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
<div class="container-fluid">
  <div class="row">

<a href="{% url "ui-collections-list" %}">Collections</a>
<br/>
<a href="{% url "ui-browse-index" %}">Browse</a>
<br/>
<a href="{% url "ui-search-index" %}">Search</a>
<br/>


  </div><!-- .row -->
</div><!-- .container-fluid -->
{% endblock content %}

{% block footer %}
ui/index.html
{% endblock footer %}
