{% extends BASE_TEMPLATE %}

{% load thumbnail ui_tags %}

{% block title %}Home{% endblock %}
{% block pagetitle %}{% endblock %}

{% block pageheader %}{% endblock %}


	<!-- WRAPPER -->
	<div id="wrapper">

	{% block content %}
	
				<section id="portfolio">

				<div class="container">

					<div style="padding-top:20px;"><h2><strong>Explore</strong> the Digital Repository</h2></div>

					<p class="lead">Find thousands of historic photographs, documents, newspapers, letters and other primary source materials that tell the story of the Japanese American community, from immigration to the WWII incarceration and its aftermath.</p>

					
					<div class="bs-callout text-center no-margin-bottom"><a href="{% url "ui-browse-index" %}" class="btn btn-primary btn-lg">Browse</a> <a href="{% url "ui-search-index" %}" class="btn btn-primary btn-lg">Search</a>
</div>
				</div>


				<div class="row">
					<ul class="sort-destination isotope fullwidth" data-sort-id="isotope-list1">
{% homeslideitem "/ddr/testing/141/1" "ddr-testing-141/ddr-testing-141-1-master-96c048001e-a.jpg" %}
{% homeslideitem "/ddr/densho/2/33" "ddr-densho-2/ddr-densho-2-33-mezzanine-16fe864756-a.jpg" %}
{% homeslideitem "/ddr/densho/266/9" "ddr-densho-266/ddr-densho-266-9-mezzanine-818eb5aa3e-a.jpg" %}
{% homeslideitem "/ddr/densho/151/40" "ddr-densho-151/ddr-densho-151-40-mezzanine-567ff0e8e9-a.jpg" %}
{% homeslideitem "/ddr/densho/149/1" "ddr-densho-149/ddr-densho-149-1-master-80be9b3d89-a.jpg" %}
{% homeslideitem "/ddr/hmwf/1/15" "ddr-hmwf-1/ddr-hmwf-1-15-mezzanine-720d3e84b0-a.jpg" %}
{% homeslideitem "/ddr/densho/2/51" "ddr-densho-2/ddr-densho-2-51-mezzanine-0a4e80ffd0-a.jpg" %}
{% homeslideitem "/ddr/densho/35/292" "ddr-densho-35/ddr-densho-35-292-mezzanine-86c8727e97-a.jpg" %}
{% homeslideitem "/ddr/densho/35/38" "ddr-densho-35/ddr-densho-35-38-mezzanine-202a52b5c3-a.jpg" %}
{% homeslideitem "/ddr/densho/275/6" "ddr-densho-275/ddr-densho-275-6-master-0a552821cf-a.jpg" %}
{% homeslideitem "/ddr/densho/2/26" "ddr-densho-2/ddr-densho-2-26-mezzanine-09eeb176cf-a.jpg" %}
{% homeslideitem "/ddr/densho/242/33" "ddr-densho-242/ddr-densho-242-33-mezzanine-f4b8c0b856-a.jpg" %}
{% homeslideitem "/ddr/densho/258/61" "ddr-densho-258/ddr-densho-258-61-master-489baa99ee-a.jpg" %}
{% homeslideitem "/ddr/densho/242/20" "ddr-densho-242/ddr-densho-242-20-mezzanine-4d27317145-a.jpg" %}
{% homeslideitem "/ddr/densho/151/125" "ddr-densho-151/ddr-densho-151-125-mezzanine-41eb78fe85-a.jpg" %}
{% homeslideitem "/ddr/densho/151/76" "ddr-densho-151/ddr-densho-151-76-mezzanine-9ed6c51dd3-a.jpg" %}
{% homeslideitem "/ddr/densho/35/135" "ddr-densho-35/ddr-densho-35-135-mezzanine-ec3bbb4fab-a.jpg" %}
{% homeslideitem "/ddr/densho/275/6" "ddr-densho-275/ddr-densho-275-6-master-32fb903fa2-a.jpg" %}
{% homeslideitem "/ddr/hmwf/1/8" "ddr-hmwf-1/ddr-hmwf-1-8-mezzanine-c0df9cb9f0-a.jpg" %}
{% homeslideitem "/ddr/densho/242/34" "ddr-densho-242/ddr-densho-242-34-mezzanine-fd87f91d29-a.jpg" %}
{% homeslideitem "/ddr/densho/201/36" "ddr-densho-201/ddr-densho-201-36-mezzanine-04919d5814-a.jpg" %}
					</ul>
				</div><!-- /.masonry-container -->

			</section>

<div class="container-fluid">
  <div class="row">



  </div><!-- .row -->
</div><!-- .container-fluid -->
{% endblock content %}
 