{% extends "ui/base.html" %}

{% load thumbnail ui_tags %}

{% block title %}Home{% endblock %}
{% block pagetitle %}{% endblock %}

{% block pageheader %}{% endblock %}


	<!-- WRAPPER -->
	<div id="wrapper">

	{% block content %}
	
				<section id="portfolio">

				<div class="container">

					<h2><strong>Explore</strong> our gallery</h2>

					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.</p>

					<ul class="nav nav-pills isotope-filter isotope-filter" data-sort-id="isotope-list" data-option-key="filter">
						<li data-option-value="*" class="active"><a href="#">Show All</a></li>
						<li data-option-value=".development"><a href="#">Development</a></li>
						<li data-option-value=".photography"><a href="#">Photography</a></li>
						<li data-option-value=".design"><a href="#">Design</a></li>
					</ul>

					
									{% thumbnail "http://ddr.densho.org/media/ddr-densho-2/ddr-densho-2-33-mezzanine-16fe864756-a.jpg" "200x200" as img %}
    <img src="{{ img.url }}" class="img-responsive">foo
{% endthumbnail %}

				</div>


				<div class="row">

					<ul class="sort-destination isotope fullwidth" data-sort-id="isotope-list">

						<li class="isotope-item development"><!-- item -->
							<div class="item-box">
								<figure>
									<a class="item-hover" href="portfolio-single.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>VIEW</strong> IMAGE
										</span>
									</a>
									<img class="img-responsive" src="#" width="260" height="260" alt="">
								</figure>
							</div>
						</li>

						<li class="isotope-item photography"><!-- item 2 -->
							<div class="item-box">
								<figure>
									<a class="item-hover lightbox" href="assets/images/demo/portfolio/black-kitty-600x403.jpg" data-plugin-options='{"type":"image"}'>
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>VIEW</strong> IMAGE
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/black-kitty-600x403.jpg" width="260" height="260" alt="">
								</figure>
							</div>
						</li>

						<li class="isotope-item design"><!-- item 3 -->
							<div class="item-box">
								<figure>
									<a class="item-hover lightbox" href="http://player.vimeo.com/video/25076865" data-plugin-options='{"type":"iframe"}'>
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>VIEW</strong> VIDEO
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/merchant2-600x403.jpg" width="260" height="260" alt="">
								</figure>
							</div>
						</li>

						<li class="isotope-item photography"><!-- item 4 -->
							<div class="item-box">
								<figure>
									<a class="item-hover" href="portfolio-single.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>VIEW</strong> PROJECT
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/flippin-the-bird1-600x403.jpg" width="260" height="260" alt="">
								</figure>
							</div>
						</li>

						<li class="isotope-item development"><!-- item 5 -->
							<div class="item-box">
								<figure>
									<a class="item-hover lightbox" href="assets/images/demo/portfolio/night_to_remember1-600x403.jpg" data-plugin-options='{"type":"image"}'>
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>VIEW</strong> IMAGE
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/night_to_remember1-600x403.jpg" width="260" height="260" alt="">
								</figure>
							</div>
						</li>

						<li class="isotope-item design"><!-- item 6 -->
							<div class="item-box">
								<figure>
									<a class="item-hover lightbox" href="http://www.youtube.com/watch?v=W7Las-MJnJo" data-plugin-options='{"type":"iframe"}'>
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>VIEW</strong> VIDEO
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/spacebound-600x403.jpg" width="260" height="260" alt="">
								</figure>
							</div>
						</li>

						<li class="isotope-item photography design"><!-- item 7 -->
							<div class="item-box">
								<figure>
									<a class="item-hover" href="portfolio-single.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>VIEW</strong> PROJECT
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/be-my-guest1-600x403.jpg" width="260" height="260" alt="">
								</figure>
							</div>
						</li>

						<li class="isotope-item development"><!-- item 8 -->
							<div class="item-box">
								<figure>
									<a class="item-hover lightbox" href="assets/images/demo/portfolio/black-box5-600x403.jpg" data-plugin-options='{"type":"image"}'>
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>VIEW</strong> IMAGE
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/black-box5-600x403.jpg" width="260" height="260" alt="">
								</figure>
							</div>
						</li>

						<li class="isotope-item development"><!-- item -->
							<div class="item-box">
								<figure>
									<a class="item-hover lightbox" href="http://www.youtube.com/watch?v=W7Las-MJnJo" data-plugin-options='{"type":"iframe"}'>
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>VIEW</strong> VIDEO
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/weather-app-600x403.jpg" width="260" height="260" alt="">
								</figure>
							</div>
						</li>

						<li class="isotope-item photography"><!-- item 2 -->
							<div class="item-box">
								<figure>
									<a class="item-hover" href="portfolio-single.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>VIEW</strong> PROJECT
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/theMoose-600x403.jpg" width="260" height="260" alt="">
								</figure>
							</div>
						</li>

						<li class="isotope-item design"><!-- item 3 -->
							<div class="item-box">
								<figure>
									<a class="item-hover lightbox" href="assets/images/demo/portfolio/tumblr_mopqj9QUeq1st5lhmo1_12801-600x403.jpg" data-plugin-options='{"type":"image"}'>
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>VIEW</strong> IMAGE
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/tumblr_mopqj9QUeq1st5lhmo1_12801-600x403.jpg" width="260" height="260" alt="">
								</figure>
							</div>
						</li>

						<li class="isotope-item photography"><!-- item 4 -->
							<div class="item-box">
								<figure>
									<a class="item-hover lightbox" href="http://www.youtube.com/watch?v=W7Las-MJnJo" data-plugin-options='{"type":"iframe"}'>
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>VIEW</strong> VIDEO
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/scouter-600x403.jpg" width="260" height="260" alt="">
								</figure>
							</div>
						</li>

					</ul>

				</div><!-- /.masonry-container -->

								<div class="container">

					<h2><strong>Explore</strong> our gallery</h2>

					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.</p>

					<ul class="nav nav-pills isotope-filter isotope-filter" data-sort-id="isotope-list" data-option-key="filter">
						<li data-option-value="*" class="active"><a href="#">Show All</a></li>
						<li data-option-value=".development"><a href="#">Development</a></li>
						<li data-option-value=".photography"><a href="#">Photography</a></li>
						<li data-option-value=".design"><a href="#">Design</a></li>
					</ul>

				</div>

				<div class="container">

					<!-- CALLOUT -->
					<div class="bs-callout text-center nomargin-bottom">
						<h3>Do you like what you see? <a href="contact-us.html" target="_blank" class="btn btn-primary btn-lg">Yes, let's work together!</a></h3>
					</div>
					<!-- /CALLOUT -->

				</div>


			</section>

<div class="container-fluid">
  <div class="row">

<a href="{% url "ui-collections-list" %}">Collections</a>
<br/>
<a href="{% url "ui-browse-index" %}">Browse</a>
<br/>
<a href="{% url "ui-search-index" %}">Search</a>
<br/>


  </div><!-- .row -->
</div><!-- .container-fluid -->
{% endblock content %}
 