                   <div class="row">
                     <div class="col-sm-9 col-md-9">
                       <div class="media">
                         <div class="media-object">
                           <a class="pull-right" href="{{organization.url }}" target="_blank"><img src="{{ organization.logo_url }}" class="logo" width="50" /></a>
                         </div>
                         <div class="media-body">
                           <p>{{ organization.title }}<br /><span class="small"><a href="{{ organization.url }}" target="_blank"><i class="fa fa-external-link"></i> Visit partner</a></span></p>
                         </div>
                       </div><!-- //media-->
                     </div><!-- //col-->
                   </div><!-- //row-->

