{% ifequal code "nocc" %}<strong><div class="alert alert-warning"><i class="fa fa-warning"></i>Caution</strong>{% else %}<div class="alert alert-success"><strong><i class="fa fa-thumbs-up"></i>Free to use</strong>{% endifequal %}
    {% ifequal code "nocc" %}
    This object is protected by copyright. You must ask permission from the rights holder if you re-use or publish it elsewhere, unless your project falls under a fair-use exception. 
    {% else %}{% ifequal code "cc" %}
    This object is offered under a Creative Commons license. You are free to use it for any non-commercial purpose as long as you properly cite it, and if you share what you have created.
    {% else %}
    This object is in the public domain. You may freely use it for any purpose.
    {% endifequal %}
    {% endifequal %}
</div>
