{% extends "ui/base.html" %}

{% block title %}Using And Citing{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>Using And Citing</li>
{% endblock breadcrumbs %}

{% block content %}


	<section id="usingandciting" class="container">
			<h2>Using And Citing Content</h2>

					<p>Densho strongly believes in free and open access to knowledge. We want to make it as easy for you to share and reuse our materials. Many of the digitized images on this sites are offered under a <a href="http://www.creativecommons.org/" target="_blank">Creative Commons</a> license (<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>).</p>

					<p>This means you are free to <strong>use</strong>, <strong>share</strong> and <strong>remix</strong> our content as long as you:
						<ul>
							<li>Attribute the work</li>
							<li>Only use it for non-commercial purposes</li>
							<li>Offer any work that builds on the content under these same conditions</li>
						</ul>		
					</p>
					<p>(For more information, see the <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">license details</a> at Creative Commons.)</p>

					<div class="alert alert-warning"><i class="fa fa-warning"></i><strong>Careful, please!</strong><br />Not all content in the Digital Repository is offered under Creative Commons terms. If you do not see the Creative Commons or Public Domain logo, you must contact the original rights-holder directly for permission to license their content.<p>If the content is labelled with a blue alert box, it is available for non-profit, educational use free-of-charge by contacting Densho.</p></div>

						<p>To properly cite images and other content, be sure to include the title of the object, the DDR identifier and the accompanying courtesy line. For example:
						<blockquote>"Two men in a rowboat" (ddr-densho-5-2). Courtesy of the Ito Family Collection. Retrieved from http://ddr.densho.org/ddr/densho/5/2. Used under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</blockquote>
						</p>


	</section>	

{% endblock content %}
