{% extends BASE_TEMPLATE %}

{% block title %}Using Materials in the DDR{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>Using and Citing</li>
{% endblock breadcrumbs %}

{% block content %}

<section id="usingandciting" class="container">
  <h2>Using Materials in the DDR</h2>

<section id="visualhistories">
        <div class="row">
           <div class="col-md-9">
               <h3>Visual Histories</h3>
               <p>For many of the interview subjects, or "narrators," included in the Densho Digital Repository their visual history is the first time they may have talked openly about their life experience. The memories they share are deeply personal, and sometimes painful or traumatic, yet they want their stories to be heard and (re)used to help educate and inform. The vast majority of the interviews are available under a Creative Commons license, and the narrators have allowed us to provide the production-quality, high-resolution video to you for your own video and multimedia projects (see, <a href="/using">"Using and Citing Content</a> for more information).</p>
               
               <p><strong>We ask that you, as a user, reflect on why interviews are important and what impact the ways you use them may have.</strong></p>
               <p>Watching interviews provides the opportunity to:</p>
               <ul>
                   <li><b>Learn about history</b> from someone who experienced it firsthand - putting a human face to the past.  This perspective is often missing from textbook study.</li>
                   <li><b>Think critically</b> about concepts of civil liberties, racial discrimination, and social justice.</li>
                   <li><b>Recognize the power of personal stories</b> to inform and inspire. </li>
               </ul>
               
               <p>To more fully understand interviews:</p>
               <ul>
                   <li><b>Study the historical context.</b> – Learn about the time, place, and culture that surround the events shared by the interviewees.  Explore many different topics in the <a href="//encyclopedia.densho.org" target="_blank">Densho Encyclopedia <i class="fa fa-share-square-o"></i></a></li>
                   <li><b>Think about the source.</b> – What information is available about the interviewee?  The interviewer? When and where was the interview conducted?  How might any of this effect the content of the interview?</li>
                   <li><b>Watch and listen to the interview carefully.</b> 
                       <ul>
                           <li>Use background knowledge to deepen your understanding of what the interviewee talks about.</li>
                           <li>Think about what you didn’t hear in the interview. Identify what may be missing from the interview by developing questions about the content.</li>
                           <li>Review the interview more than once.  If a transcript is available, read it closely, noting details that are of particular interest or that raise questions for you.</li>
                       </ul>
                   </li>
                   <li><b>Corroborate information across multiple sources.</b> -  Explore different sources to determine points of agreement and disagreement about important details.</li>
           </ul>

           <div class="toTop"><a href="#top">Back to Top <i class="fa fa-arrow-circle-up"></i></a></div>
           
           <br />
           
           <h3>Editing Visual History Interviews</h3>

           <p>Editing is a process of:</p>
           <ol>
               <li><b>Selecting</b> – choosing pieces of the interview that you want to feature, and</li>
               <li><b>Recombining</b> -  putting pieces of video together in a new way, different from the original material.</li>
           </ol>

           <p>The way that you choose to juxtapose different video images creates meaning in the viewer’s mind. This requires the editor to be responsible and make careful choices to stay true to the original story.</p>

           <h4>Ethical Editing Guidelines</h4>

           <p>Editing visual history interviews requires one to be responsible, honorable, and respectful.  Following these guidelines will help to ensure a credible, quality product.</p>

           <ol>
               <li><b>Respect the truth.</b>
                   <ul>
                       <li>Stay true to the meaning and intent of the original source material.</li>
                       <li>Tell the story with accuracy – names, dates, places, etc.</li>
                   </ul>
               </li>

               <li><b>Honor the trust of your viewer.</b> – Avoid misleading or confusing the viewer.
                   <ul>
                       <li>Review how you juxtapose or edit pieces of video together to be sure it tells the story that you want to create.</li>
                       <li>When using photos or other images to compliment the video interview, provide onscreen identification so the viewer knows what they are looking at and where it came from.</li>
                       <li>Understand the emotional impact of music and sound effects.  Use these responsibly to tell an accurate story.</li>
                   </ul>
               </li>
               <li><b>Respect the interviewee.</b> – Create a story that the interviewee would appreciate.
                   <ul>
                       <li>The interviewee is sharing a personal story.  Be considerate of sensitive aspects and the possible vulnerability of the interviewee.</li>
                       <li>Ask yourself how the interviewee would feel about your video.</li>
                   </ul>
               </li>
           </ol>

           <p>Adapted from materials by <a href="http://iwitness.usc.edu" target="_blank">USC Shoah Foundation iWitness <i class="fa fa-share-square-o"></i></a> and <a href="https://www.loc.gov/teachers/tps/quarterly/historical_thinking/article.html" target="_blank">"Thinking Like a Historian" <i class="fa fa-share-square-o"></i></a> by Sam Wineburg, director of the Library of Congress Teaching with Primary Sources program at Stanford University.
           
           <div class="toTop"><a href="#top">Back to Top <i class="fa fa-arrow-circle-up"></i></a></div><br />
           
           </div> <!-- .col-md-9 -->
           <div class="col-md-3">
                <div class="widget">
                    <div class="hidden-sm hidden-xs">
                        <img src="/media/site/students.jpg" class="img-responsive" /><br />
                        <img src="/media/site/interview.jpg" class="img-responsive" /><br />
                    </div>
                   <h4>FOR MORE INFORMATION</h4>
                   <p>Radio Television Digital News Association<br />
                       <span class="small"><a href="http://www.rtdna.org/content/guidelines_for_ethical_video_and_audio_editing" target="_blank">Guidelines for Ethical Video and Audio Editing  <i class="fa fa-share-square-o"></i></a></span>
                   </p>
                    <p>School Video News<br />
                        <span class="small"><a href="http://schoolvideonews.com/Broadcast-Journalism/Ethical-Considerations" target="_blank">Ethical Considerations  <i class="fa fa-share-square-o"></i></a></span>
                    </p>
                    <p>National Press Photographers Association<br />
                        <span class="small"><a href="https://nppa.org/code_of_ethics" target="_blank">NPPA Code of Ethics  <i class="fa fa-share-square-o"></i></a></span>
                    </p>
                    <p>USC Shoah Foundation iWitness<br />
                        <span class="small"><a href="http://iwitness.usc.edu/SFI/Account/" target="_blank">Editing basics and ethics  <i class="fa fa-share-square-o"></i></a></span><br />
                        <span class="small"><a href="http://iwitness.usc.edu/SFI/Educators/" target="_blank">Teacher workshop video  <i class="fa fa-share-square-o"></i></a></span><br />
                        <span class="small"><a href="http://iwitness.usc.edu/SFI/Data/EducatorData/Using-Testimony-in-Classroom.pdf" target="_blank">Using Testimony PDF for teachers  <i class="fa fa-share-square-o"></i></a></span><br />
                    </p>
                </div>
           </div> <!-- .col-md-3 -->
        </div> <!-- .row -->
</section>
<hr />

<section id="reusingcontent">
  <h3>Reusing Content</h3>

    <p>Densho and its partners strongly believe in free and open access to knowledge. We want to make it as easy for you to share and reuse our materials. The archive content on this site is offered under one of four licenses:</p>
    
        <div class="alert alert-success"><i class="fa fa-thumbs-up"></i><strong>Public Domain</strong><br />
          This content is in the public domain and is <strong>completely free</strong> of known copyright restrictions. You may use it for any project, commercial or non-commercial. 
        </div>

        <div class="alert alert-success"><i class="fa fa-thumbs-up"></i><strong>Creative Commons</strong><br />
          This content is offered under offered under a <strong>Creative Commons</strong> license (<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>).</p>

    <p>You are free to <strong>use</strong>, <strong>share</strong> and <strong>remix</strong> this content as long as you:
        <ul>
            <li>Attribute the work</li>
            <li>Only use it for non-commercial purposes</li>
            <li>Offer any work that builds on the content under these same conditions</li>
        </ul>
    </p>
    <p>For more information, see the <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">license details</a> at Creative Commons.</p>
        </div>

        <div class="alert alert-info"><i class="fa fa-info-circle"></i><strong>Copyright, with special 3rd party grant permitted</strong><br />
          This content is under copyright; but the owner has permitted Densho to grant license for use. In most cases, not-for-profit educational use is available free of charge. You <strong>must</strong> contact Densho for permission <strong>prior</strong> to re-using the material. You can make a request using our <a href="http://bit.ly/DenshoContentRequests" target="_blank">on-line form</a>. 
        </div>
 
        <div class="alert alert-warning"><i class="fa fa-warning"></i><strong>Copyright restricted</strong><br />
          This content is <strong>copyright restricted</strong>. Densho and its partners have received permission from the owner to provide access through this site; but any requests for use must be made to the original content owner.  
        </div>
        
  <p>For further information, see "Using Densho Content" on the <a href="http://www.densho.org/" target="_blank">Frequently Asked Questions</a>  page of Densho's general website.</p>

           <div class="toTop"><a href="#top">Back to Top <i class="fa fa-arrow-circle-up"></i></a></div><br />
</section>


<hr class="half-margin" />

<section id="citingcontent">

  <h3>Citing Content</h3>
    <p>
      When using materials from the DDR site, please include the title of the object, the DDR identifier and the accompanying courtesy line. This is especially important for items offered under Creative Commons as this is <strong>required</strong> under the terms of the license. While the exact format may vary depending on which citation style you use (e.g., Chicago, MLA, APA), the general form is as follows:
    </p> 
    <p><strong>Interviews</strong></p>
    <p>
        <blockquote class="fsize14">&lt;Narrator full name&gt;, interview by &lt;interviewer full name&gt;, &lt;interview date&gt; (&lt;DDR ID&gt;), &lt;interview collection&gt;, &lt;partner name&gt;.</blockquote>
     </p>
     <p>example:</p>
     <p>
        <blockquote class="fsize14">Frank Emi, interview by Abe, 2/23/93 (ddr-densho-122-), Frank Abe Collection, Densho.</blockquote>
     </p>
    <p><strong>Photographs, documents and other materials</strong></p>
    <p>
        <blockquote class="fsize14">&lt;Title&gt; (&lt;DDR ID&gt;), &lt;partner name&gt;, &lt;collection name&gt;.</blockquote>
    </p>
    <p>example:</p>
    <p>
        <blockquote class="fsize14">"Two men in a rowboat" (ddr-densho-5-2). Densho, the Ito Family Collection.</blockquote>
    </p>
    <p>
      If you wish to provide a general acknowledgement of the DDR, please use:
    </p>
    <p>
    <blockquote class="fsize14">The Densho Digital Repository, a multi-partner initiative of Densho: The Japanese American Legacy Project, contains oral history interviews, photographs, documents, and other materials relating to the Japanese American experience. Additional information on the project is available at www.densho.org</blockquote>
    </p>
           <div class="toTop"><a href="#top">Back to Top <i class="fa fa-arrow-circle-up"></i></a></div><br />


</section>


{% endblock content %}
