{% extends "ui/base.html" %}

{% block title %}{{ repo }}{% endblock %}
{% block pagetitle %}{{ repo }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>{{ repo }}</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="container-fluid">
  <div class="row">

<p>
all about repository {{ repo }}.
</p>

<h3>organizations</h3>
<ul>
  <li><a href="{% url "ui-organization" repo "densho"  %}">{{ repo }}-densho</a></li>
  <li><a href="{% url "ui-organization" repo "testing" %}">{{ repo }}-testing</a></li>
</ul>

  </div><!-- .row -->
</div><!-- .container-fluid -->
{% endblock content %}

{% block footer %}
ui/repo/detail.html
{% endblock footer %}
